h1 {
  margin-top: 3px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.sign {
  font-family: 'Homemade Apple', cursive;
  text-align: right;
  margin-right: 50px;
  margin-top: 50px;
  color: black;
  -ms-transform: rotate(-10deg);
  /* IE 9 */
  transform: rotate(-10deg);
}
#spacer {
  margin: 24px;
}

/* #erin1{
  width: 80%;
  margin-left: 40px;
} */

.contactHead {
  padding-left: 8px;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  text-indent: 15px;
  color: black;
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 150%;
}

#from {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  padding-bottom: 0;
  width: auto;
}

#boxz {
  background-color:white;
  margin-top: 50px; 
  padding-bottom: 20px;
}

h3 {
  background-color: white;
  padding-bottom: 8px;
  margin-left: 10px;
}

label,
h4,
h6, h3 {
  color: #343a40;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.flip-card {
  background-color: transparent;
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 35px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back button {
  font-size: 14px;
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 15px !important;
  border: 1px solid;
  background-color: rgb(148, 60, 101);
  border-radius: 5px;
  padding: 10px 15px;
  color: white !important;
  outline: none;
}

.flip-card-back button a {
  color: white;
}

.flip-card-back button:hover {
  font-weight: bold;
  color: white;
}

 .altCover {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 23px;
  line-height: 150%;
  text-align: center;
} 

.aboutCover{
  font-family: 'Fira Sans Condensed', sans-serif;
  margin:25px;
  line-height: 150%;
}

#resumeBox, #aboutBox{
  box-sizing: border-box;
  display: block;
}

#bio-image{
  width: 66%;
  margin-top: 75px;
} 


#thumb{
  width: 70%;
  margin-top: 75px;
}

#pink {
  color: burlywood;
  margin-right: 5px;
}

#mail{
  background-color:  rgb(148, 60, 101);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1050px) {
  .column {
    width: 50%;
  }

  .msg {
    padding-top: 0;
  }

  #or {
    margin-left: 0;
  }

  #erin1, #from {
    image-rendering: auto;
    align-self: auto;
    margin-left: 0;
    /* margin-right: 0; */
  }

  .contactHead {
    padding-left: 5px;
    padding-bottom: 0rem;
    padding-top: 5px;
  }

  #boxz {
    margin-top: 0px;
  }

  #test {
    width: 100%;
    margin-left: 0;
  }

  #thumb, #bio-image {
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .altCover {
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    background-repeat: repeat;

  }
  #spacer{
    margin: 0px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }

  .msg {
    padding-top: 0px;
  }

  #or {
    margin-left: 0;
  }

  #boxz {
    margin-top: 0px;
  }

  .contactHead {
    padding-left: 5px;
    padding-bottom: 0rem;
    padding-top: 5px;
  }

  #erin1, #from {
    image-rendering: auto;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
  }

  #test {
    width: 100%;
    margin-left: 0;
  }

  .flip-card {
    position: relative;
  }

  #thumb, #bio-image {
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .altCover {
    width: 100%;
    height: 100%;
  }
  #spacer{
  margin: 0px;
}


}